{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrutari Post-Quantum Gateway — Public REST API",
    "description": "Programmatic interface for managing routes, tenants, domains, members, and API keys.\n\nAuthentication is via API keys minted from the dashboard or via the admin CLI; pass them as `Authorization: Bearer <key>`.\n\nEvery non-2xx response returns the same `ApiError` envelope (see `components/schemas/ApiError`). List endpoints return a `Page<T>` envelope with `data`, `has_more`, and an optional `next_cursor`.\n\nThis is an alpha-tagged spec. The shape is stable, but new endpoints will land additively as more `/v1/*` surfaces gain `#[utoipa::path]` annotations.",
    "contact": {
      "name": "Scrutari API Support",
      "email": "partnerships@scrutari.ai"
    },
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0-alpha.2"
  },
  "servers": [
    {
      "url": "https://api.edge.scrutari.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/api_keys": {
      "get": {
        "tags": [
          "api_keys"
        ],
        "summary": "List the caller's API keys. Returns a paginated\n`Page<ApiKeyResponse>` envelope; the response shape is the\n**masked** form — `plaintext` is NEVER included in a list\nresponse, only at the original `POST /v1/api_keys` mint call.",
        "operationId": "list_api_keys",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from the previous response's `next_cursor`. Omit on the first page.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cur_AbcXYZ123"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (1..=100). Default 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 20
          },
          {
            "name": "auto_managed",
            "in": "query",
            "description": "Row-class filter. Omit (or set false) for user-managed keys — the customer-facing default. Set true to retrieve system-minted plumbing rows (e.g. live-trace SSE proxy session keys). The two views are disjoint; there is no combined-results mode.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of active API keys for the authenticated tenant. Revoked keys are filtered out. Returns user-managed (`auto_managed = false`) rows by default; pass `?auto_managed=true` to retrieve system-minted plumbing keys instead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `api_keys:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid `limit` or malformed `cursor`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "api_keys:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "api_keys"
        ],
        "summary": "Mint a new API key. **The plaintext secret is included in the\nresponse and is shown ONLY on this call** — there is no recovery\npath. The dashboard / CLI must display it immediately and let\nthe operator store it before navigating away.",
        "description": "Subsequent reads of this key via `GET /v1/api_keys` return\n`ApiKeyResponse` (metadata + `key_hint` only, no plaintext).\n\nCommon failure modes:\n\n- **`422 name_invalid`** — name is empty or longer than 100 chars.\n- **`422 scope_invalid`** — at least one scope isn't in the\n  accepted vocabulary. See [`CreateApiKeyRequest::scopes`] for\n  the list, or fetch the dynamic registry at `GET /v1/scopes`\n  (planned) once it lands.\n- **`422 environment_invalid`** — environment is set to something\n  other than `live` or `test`.",
        "operationId": "create_api_key",
        "requestBody": {
          "description": "Key parameters. `tenant_id` is derived from the authenticated caller, not the body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Key minted. **The `plaintext` field carries the secret and is visible exactly once** — store it before navigating away. Subsequent reads return `ApiKeyResponse` without the plaintext.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `api_keys:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure on `name`, `scopes`, or `environment`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "api_keys:write"
            ]
          }
        ]
      }
    },
    "/v1/api_keys/{id}": {
      "get": {
        "tags": [
          "api_keys"
        ],
        "summary": "Read one API key by id (masked: hint only, never the plaintext or\nhash). Returns revoked and expired rows too — a Terraform import\nmust see the key's true state; only the auth path filters them.\n404 collapses \"no such id\" and \"not your key\" into one.",
        "operationId": "get_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API key identifier from a previous create or list response.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "key_01k4r9j7y8x2v3m6q1w5z9b7n2"
          }
        ],
        "responses": {
          "200": {
            "description": "The API key's masked metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `api_keys:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No key with this id exists for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "api_keys:read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "api_keys"
        ],
        "summary": "Revoke an API key. The row stays in storage (marked\n`revoked_at`) so auth-failure audit logs still resolve the\n`api_key_id` to a human-readable label — \"delete\" at the API\nlevel is \"revoke\" at the data model.",
        "description": "Subsequent presentations of the revoked key by an attacker\nreturn `401` from the auth middleware. Lost keys can be safely\nrevoked AND should be: there is no way to recover the\nplaintext, and a revoked key cannot be re-enabled (mint a new\none instead).",
        "operationId": "revoke_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Key identifier, prefix `ak_` followed by base32-no-pad.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ak_01k4r9j7y8x2v3m6q1w5z9b7n2"
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `api_keys:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No active key with this id for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Path parameter `id` doesn't match the `ak_*` format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "api_keys:write"
            ]
          }
        ]
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "inference"
        ],
        "summary": "Create a chat completion (OpenAI-compatible).",
        "description": "OpenAI-style Chat Completions, text-only. Returns a JSON\n`chat.completion` by default, or an SSE `text/event-stream` of\n`chat.completion.chunk` frames when the request sets `stream: true`.",
        "operationId": "create_chat_completion",
        "requestBody": {
          "description": "OpenAI-style Chat Completions request. Text content only (tools and multimodal parts are not yet supported and are rejected with 422). Set `stream: true` to receive an SSE `text/event-stream` of `chat.completion.chunk` frames terminated by `data: [DONE]`.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A `chat.completion` object (JSON), or when `stream: true` a `text/event-stream` of `chat.completion.chunk` frames closed by `data: [DONE]`."
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `inference:invoke` scope, or no upstream provider credential is configured for the resolved model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The requested `model` is not configured in this tenant's catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request body, an unsupported message role, or PHI/PII detected in the prompt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "The tenant's monthly token quota is exhausted, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "The model catalog, quota backend, credential store, or upstream provider is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "inference:invoke"
            ]
          }
        ]
      }
    },
    "/v1/domain_jobs": {
      "post": {
        "tags": [
          "domain_jobs"
        ],
        "summary": "`POST /v1/domain_jobs`: enqueue a bulk create/delete job. Returns\n`202 Accepted` with the job handle; per-item results arrive via the\nitems endpoint as the worker lands them (D3: no 207 enqueue).",
        "operationId": "enqueue_domain_job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnqueueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Job accepted. Poll the job endpoint for status and the items endpoint for per-item results (bulk is async-only; there is no 207 enqueue).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainJobResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `domains:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Too many non-terminal jobs for this tenant, or a concurrent request with the same Idempotency-Key is mid-flight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid op, item count out of 1..=1000, invalid hostname, zone_id not yet supported, or the job would breach the plan's domain cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Dedicated domain-jobs rate bucket exceeded (DOMAIN_JOBS_PER_KEY_RPS)."
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "domains:write"
            ]
          }
        ]
      }
    },
    "/v1/domain_jobs/{id}": {
      "get": {
        "tags": [
          "domain_jobs"
        ],
        "summary": "`GET /v1/domain_jobs/{id}`: status + counts. 404 collapses \"does\nnot exist\" and \"belongs to another tenant\", the same anti-disclosure\nposture as `GET /v1/domains/{id}`.",
        "operationId": "get_domain_job",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Job id (UUID) from the enqueue response.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3f8a3a1e-9d2b-4c1f-8a55-0123456789ab"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and per-item counts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainJobResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `domains:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No job with this id exists for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Path parameter `id` is not a UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "domains:read"
            ]
          }
        ]
      }
    },
    "/v1/domain_jobs/{id}/items": {
      "get": {
        "tags": [
          "domain_jobs"
        ],
        "summary": "`GET /v1/domain_jobs/{id}/items`: per-item results, keyset-paginated\non `(job_id, seq)`. An unknown / foreign job id yields an empty\nterminal page rather than a 404: the items query is tenant-scoped\nthrough the parent join, so the two cases are indistinguishable by\nconstruction (same anti-disclosure posture as the 404 above; the\ncaller who wants existence asks the job endpoint).",
        "operationId": "list_domain_job_items",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Job id (UUID) from the enqueue response.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3f8a3a1e-9d2b-4c1f-8a55-0123456789ab"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from the previous response's `next_cursor`. Omit on the first page.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cur_AbcXYZ123"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (1..=100). Default 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "One page of per-item results in seq order: `{ data: [DomainJobItemResponse], next_cursor: string|null }`. An unknown or foreign job id yields an empty terminal page."
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `domains:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid `limit`, malformed `cursor`, or non-UUID `id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "domains:read"
            ]
          }
        ]
      }
    },
    "/v1/domains": {
      "get": {
        "tags": [
          "domains"
        ],
        "summary": "List domain verifications for the authenticated tenant. Returns\na paginated `Page<DomainResponse>` envelope.",
        "description": "The list includes domains in every state — `pending`,\n`verified`, `failed`, `expired` — so a Terraform provider's\n`data \"scrutari_domain\"` can present accurate state. To filter\nto only verified domains, the caller filters client-side\n(a `?status=` query parameter is planned but not yet landed).",
        "operationId": "list_domains",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from the previous response's `next_cursor`. Omit on the first page.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cur_AbcXYZ123"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (1..=100). Default 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of domain verifications for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageDomainResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `domains:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid `limit` or malformed `cursor`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "domains:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "domains"
        ],
        "summary": "Create (or re-issue) a TXT verification challenge for a domain in\nthe caller's tenant — the synchronous single-item create the\nTerraform provider's `scrutari_domain` resource needs (RFC-010 S3).\nBulk creates are async-job-only via `POST /v1/domain_jobs` (D3).",
        "description": "The response carries `expected_value`, the TXT record to publish:\nshown ONCE, only to the creating `domains:write` caller, for a row\nborn `pending` (see `api_types::domains::CreatedDomainResponse` for\nthe threat-model note; list/read endpoints continue to omit the\nsecret). Re-POSTing an existing domain rotates the challenge and\nresets the row to `pending`, exactly like the dashboard flow.\n\nWith `zone_id` set (RFC-010 S1c), the hostname is created under\nthe caller's delegated zone instead: born `verified`, nothing to\npublish (`expected_value` is null), served by the zone's wildcard\ncert. Plan-cap admission is identical in both modes (D4: one\ndomain population, one cap).",
        "operationId": "create_domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Challenge issued (or re-issued). Publish the TXT record at `challenge_host` with `expected_value`. For zone-backed creates (`zone_id` set) the row is born `verified` and `expected_value` is null — there is nothing to publish.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedDomainResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `domains:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "`zone_id` does not name a delegated zone of the caller's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The hostname is not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Domain is not a valid FQDN, the plan's domain cap is reached, or (zone-backed) the zone is not active / the hostname is outside the zone's wildcard coverage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "domains:write"
            ]
          }
        ]
      }
    },
    "/v1/domains/{id}": {
      "get": {
        "tags": [
          "domains"
        ],
        "summary": "Fetch a single domain verification by id. Returns 404 for\ndomains that don't exist OR exist for a different tenant — same\nanti-disclosure posture as other tenant-scoped reads.",
        "operationId": "get_domain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Domain verification identifier from a previous list response.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 17
          }
        ],
        "responses": {
          "200": {
            "description": "The requested domain verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `domains:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No domain verification with this id exists for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Path parameter `id` is not a positive integer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "domains:read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "domains"
        ],
        "summary": "Delete a domain verification, cascading to every route on the\nsame hostname for this tenant. Returns 204 No Content on success.",
        "description": "**The deletion is destructive and irreversible.** Every route\nwhose `host` exactly matches the deleted domain's hostname is\ndeleted in the same transaction, with a `route.deleted` outbox\nevent (carrying `cascade_source: \"domain.deleted\"`) emitted for\neach. See `repo::domains::delete_domain_with_cascade_in_tx` for\nthe full transactional shape and rationale.\n\n# Why cascade is mandatory\n\nOrphaned routes left behind after a domain delete squat on the\nglobal `UNIQUE (host, path_prefix)` index in the `routes` table,\nblocking other tenants from later claiming the hostname even\nafter their own domain verification succeeds. This is a DoS\nvector on the hostname namespace; cascading on delete is the\nonly sound resolution.\n\n# In-memory route table staleness\n\nThis endpoint does NOT trigger an immediate refresh of the\ngateway's in-memory `RouteTable`. The 60-second background\nrefresh tick will pick up the change. During that window,\n`tenant_for_host` may return the deleted tenant for handshake\ntelemetry attribution. Same posture as `DELETE /v1/routes/{id}`.\nClosing this gap requires plumbing refresh notifications into\nthe control-plane state — tracked as a separate architectural\nconcern.",
        "operationId": "delete_domain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Domain verification identifier from a previous list response.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 17
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted; cascaded routes also deleted."
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `domains:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No domain with this id exists for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Path parameter `id` is not a positive integer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "domains:write"
            ]
          }
        ]
      }
    },
    "/v1/members": {
      "get": {
        "tags": [
          "members"
        ],
        "summary": "List members of the authenticated tenant. Returns a paginated\n`Page<MemberResponse>` envelope. Deactivated members are\nfiltered out at the data layer; the response contains only\nactive members.",
        "operationId": "list_members",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from the previous response's `next_cursor`. Omit on the first page.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cur_AbcXYZ123"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (1..=100). Default 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of active tenant members.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageMemberResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `members:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid `limit` or malformed `cursor`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "members:read"
            ]
          }
        ]
      }
    },
    "/v1/members/{user_id}": {
      "get": {
        "tags": [
          "members"
        ],
        "summary": "Fetch a single tenant member by `user_id` (UUID). Returns 404 for\nusers that don't exist in this tenant — same anti-disclosure\nposture as other tenant-scoped reads.",
        "operationId": "get_member",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Member identifier as a UUID v4 in canonical hyphenated form.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1f8b3c5a-7d2e-4c89-a013-9b7f60a2e145"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested member.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `members:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No member with this user_id exists in the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Path parameter `user_id` is not a valid UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "members:read"
            ]
          }
        ]
      }
    },
    "/v1/messages": {
      "post": {
        "tags": [
          "inference"
        ],
        "summary": "Create a message (Anthropic-compatible).",
        "description": "Anthropic Messages shape, text content. Returns a JSON `message` by\ndefault, or an SSE `text/event-stream` of Anthropic Messages events\nwhen the request sets `stream: true`.\n\nRequest body (JSON): `model` (string), `max_tokens` (integer,\nrequired), and `messages` (a list of `{role, content}` where `role` is\n`user` or `assistant`). Optional: a top-level `system` prompt,\n`temperature`, and `stream`. `content` may be a plain string or an\narray of `{\"type\":\"text\",\"text\":\"...\"}` blocks (text only; tools and\nimages are not yet supported).",
        "operationId": "create_message",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An Anthropic `message` object (JSON), or when `stream: true` a `text/event-stream` of Messages events (`message_start` through `message_stop`)."
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `inference:invoke` scope, or no upstream provider credential is configured for the resolved model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The requested `model` is not configured in this tenant's catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request body, an unsupported message role, or PHI/PII detected in the prompt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "The tenant's monthly token quota is exhausted, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "The model catalog, quota backend, credential store, or upstream provider is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "inference:invoke"
            ]
          }
        ]
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "inference"
        ],
        "summary": "List available models.",
        "description": "The tenant's enabled public model names.",
        "operationId": "list_models",
        "responses": {
          "200": {
            "description": "The tenant's enabled public model names in an OpenAI-style `{object: \"list\", data: [{id, object, owned_by}]}` envelope."
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `inference:invoke` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "The model catalog is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "inference:invoke"
            ]
          }
        ]
      }
    },
    "/v1/provider-credentials": {
      "put": {
        "tags": [
          "provider_credentials"
        ],
        "summary": "Store or rotate a BYOK provider credential.",
        "description": "Installs or rotates the caller tenant's key for one BYOK provider\n(`openai.direct` or `anthropic.direct`).",
        "operationId": "store_provider_credential",
        "requestBody": {
          "description": "The BYOK provider id (`openai.direct` or `anthropic.direct`) and the plaintext upstream API key. The key is written to the gateway's key vault; only a last-4 hint is persisted. The tenant is taken from the authenticated API key, never the body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The credential was stored. The response echoes the provider and a masked `key_hint`, never the key."
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `provider_credentials:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unsupported provider, or the `api_key` is missing or too short.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "The credential store is not configured, or is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "provider_credentials:write"
            ]
          }
        ]
      }
    },
    "/v1/routes": {
      "get": {
        "tags": [
          "routes"
        ],
        "summary": "List routes for the authenticated tenant. Returns a paginated\n`Page<RouteResponse>` envelope. Pass the response's `next_cursor`\nas the `?cursor=` query parameter to fetch the next page.",
        "operationId": "list_routes",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from the previous response's `next_cursor`. Omit on the first page.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cur_AbcXYZ123"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (1..=100). Default 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of routes for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageRouteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `routes:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid `limit` or malformed `cursor`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "routes:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "routes"
        ],
        "summary": "Create a new route. Returns the newly-created `RouteResponse`\nwith its server-assigned `id`.",
        "description": "Common failure modes worth noting in client code:\n\n- **`409 route_conflict`** — another route on this host already\n  uses the same `path_prefix`. The conflict is checked globally\n  (across tenants) but the response does not reveal the owning\n  tenant.\n- **`422 plan_limit_reached`** — the tenant's plan caps the\n  number of routes and that cap is hit. Upgrade or delete an\n  existing route first.\n- **`403 domain_not_verified`** — `host` is not a verified\n  domain for this tenant. Verify via the operator-tier\n  `POST /admin/domains` flow first.",
        "operationId": "create_route",
        "requestBody": {
          "description": "Route to create. `tenant_id` is derived from the API key and must NOT be specified in the body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRouteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Route created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `routes:write` scope, or `host` is not a verified domain for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Another route already matches `(host, path_prefix)`. PATCH the existing route or DELETE it before recreating.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure — invalid `auth_mode`, malformed `path_prefix` / `upstream_url`, or plan-cap reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "routes:write"
            ]
          }
        ]
      }
    },
    "/v1/routes/{id}": {
      "get": {
        "tags": [
          "routes"
        ],
        "summary": "Fetch a single route by id. Returns 404 for routes that don't\nexist OR exist for a different tenant — the two cases are\nintentionally indistinguishable to foreclose existence-disclosure.",
        "operationId": "get_route",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Route identifier returned from a previous create or list call.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 42
          }
        ],
        "responses": {
          "200": {
            "description": "The requested route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `routes:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No route with this id exists for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Path parameter `id` is not a positive integer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "routes:read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "routes"
        ],
        "summary": "Delete a route. Returns 204 No Content on success.",
        "description": "The deletion is hard, not soft: the `(host, path_prefix)` slot\nbecomes immediately available for another route. If you need\nto temporarily cut traffic, prefer `PATCH /v1/routes/{id}`\nwith `{\"is_active\": false}` — same effect, reversible without\nre-creation.",
        "operationId": "delete_route",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Route identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 42
          }
        ],
        "responses": {
          "204": {
            "description": "Route deleted."
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `routes:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No route with this id exists for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Path parameter `id` is not a positive integer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "routes:write"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "routes"
        ],
        "summary": "Partial update — every field in the body is optional; omitted =\nunchanged. `host` and `tenant_id` are intentionally NOT\npatchable: re-homing a route to a new host is delete-then-create.",
        "description": "Common failure modes:\n\n- **`404 route_not_found`** — id doesn't exist OR exists for a\n  different tenant.\n- **`409 route_conflict`** — the requested `path_prefix` would\n  collide with another route on the same host.",
        "operationId": "update_route",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Route identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 42
          }
        ],
        "requestBody": {
          "description": "Partial update. Omit any field you don't want to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRouteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `routes:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No route with this id exists for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Requested `path_prefix` collides with another route on the same host.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure on a body field or path parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "routes:write"
            ]
          }
        ]
      }
    },
    "/v1/tenants": {
      "get": {
        "tags": [
          "tenants"
        ],
        "summary": "List tenants accessible to the caller.",
        "description": "The authenticated API key is scoped to exactly one tenant, so this\nendpoint always returns at most one row — surfaced as a\n`Page<TenantResponse>` envelope (with `has_more: false` and no\ncursor) for client-SDK consistency with the multi-row list\nendpoints. Iterate it like any other list and you'll get the\ncaller's own tenant.",
        "operationId": "list_tenants",
        "responses": {
          "200": {
            "description": "List of tenants accessible to the caller. Always exactly one row — the tenant the API key is scoped to. Returned as a `Page` envelope (with `has_more: false`, no cursor) for client-SDK consistency with the multi-row list endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageTenantResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key is valid but lacks the `tenants:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error. Includes a `request_id` clients should quote when contacting support.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "tenants:read"
            ]
          }
        ]
      }
    },
    "/v1/traces/stream": {
      "get": {
        "tags": [
          "traces"
        ],
        "summary": "Subscribe to the per-tenant live trace stream. Long-lived\n`text/event-stream` response delivering one event per request /\nhandshake / data-plane signal observed at the gateway.",
        "description": "# Wire format\n\nStandard W3C Server-Sent Events. Each event carries:\n\n- **`id:`** — opaque resume cursor (a Redis Stream message ID,\n  e.g. `1715126400123-0`). Clients reconnecting after a network\n  blip should send the last-seen value as the\n  `Last-Event-ID` request header to resume without gaps or\n  replay.\n- **`data:`** — a single-line JSON object describing the event\n  (see the data-shape section below).\n\nEmpty SSE comment frames (`: keepalive`) fire every 15 seconds\nto prevent intermediate proxies (nginx, Azure Front Door, AWS\nALB) from timing out idle connections. Clients should ignore\nthem.\n\n# Connection model\n\nOne connection per dashboard tab is the typical deployment\nshape. The browser's `EventSource` API does automatic reconnect\nwith backoff; custom clients (curl, Go, Python `requests` with\n`stream=True`) should implement equivalent reconnect-with-\n`Last-Event-ID` semantics. A per-tenant connection cap is on the\nroadmap (followup #195) but not enforced today.\n\n# Data shape\n\nEach `data:` line is a JSON object with this minimal common shape:\n\n```json\n{\n  \"at\": \"2026-05-07T13:00:00.123Z\",\n  \"trace_id\": \"01k4r9j7y8x2v3m6q1w5z9b7n2\",\n  \"kind\": { ... }\n}\n```\n\n`kind` is a tagged discriminated union — the `\"type\"` discriminant\nnames the event variant (`request_started`, `request_completed`,\n`handshake_completed`, `bytes_in`, `bytes_out`, etc.) and the\nremaining fields carry the variant-specific payload.\n\n**The schema-typed model of `kind` is intentionally NOT in this\nOpenAPI spec.** The trace event is a complex Rust enum\n(`shared_kernel::tracing::TraceEvent`) that mirrors data-plane\ninternals; encoding its full structure in OpenAPI would couple the\npublic spec to internal representation churn. We document the\ndata shape in prose here; the canonical reference for variant\nnames and payload fields is\n<https://docs.scrutari.ai/v1/traces/event-types> (live with the\ntrace-event guide; deferred to followup #230 if/when we promote\nthe type to a public-facing schema).\n\n# Authentication and tenancy\n\nRequires the `traces:read` scope on the presented API key. The\nstream is tenant-scoped from the authenticated key, NEVER from\nany query parameter — cross-tenant event leakage is structurally\nimpossible at this layer.",
        "operationId": "stream_traces",
        "parameters": [
          {
            "name": "Last-Event-ID",
            "in": "header",
            "description": "Opaque resume cursor from the most recent `id:` field a previous connection received. Send on reconnect to resume the stream from that point without gaps or replay. Omit on the first connection to receive only events arriving AFTER the connection opens (no historical replay).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "1715126400123-0"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription opened. Response body is a `text/event-stream` of `id:` + `data:` frames, one per event, plus periodic `: keepalive` comments. The connection stays open indefinitely; close the underlying TCP/TLS connection to unsubscribe. See the endpoint description for the JSON shape of the `data:` field.",
            "content": {
              "text/event-stream": {}
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `traces:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error — typically the trace backend (Redis) is unreachable. Retry with backoff; the `EventSource` API does this automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "traces:read"
            ]
          }
        ]
      }
    },
    "/v1/zones": {
      "get": {
        "tags": [
          "zones"
        ],
        "summary": "List the tenant's zones, newest first. Unpaginated by design:\nzones are a yearly-scale resource (a tenant holds a handful), and\nthe hard LIMIT below bounds the response either way.",
        "operationId": "list_zones",
        "responses": {
          "200": {
            "description": "The tenant's delegated zones, newest first (at most 100).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `zones:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "zones:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "zones"
        ],
        "summary": "Register a zone for delegation after the takeover-prevention\nadmission checks (syntax, the ancestor/descendant overlap walk\nagainst all tenants' zones and other tenants' hostnames, global\nadmission serialization).",
        "operationId": "register_zone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterZoneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Zone registered. Publish the TXT at `challenge_host` in the PARENT zone; the verify daemon then provisions name servers and the zone proceeds to `verifying_delegation` and `active`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredZoneResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `zones:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The zone equals, contains, or is contained by an existing zone or hostname (anti-disclosure: the conflicting row is never identified).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Zone failed validation (shape, label count, apex, or delegation_mode).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "zones:write"
            ]
          }
        ]
      }
    },
    "/v1/zones/{id}": {
      "get": {
        "tags": [
          "zones"
        ],
        "summary": "Read one zone by id. 404 collapses \"no such id\" and \"not your\nzone\" into one.",
        "operationId": "get_zone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Zone id (UUID) from the register or list response.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3f8a3a1e-9d2b-4c1f-8a55-0123456789ab"
          }
        ],
        "responses": {
          "200": {
            "description": "The zone.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `zones:read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No zone with this id exists for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Path parameter `id` is not a UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "zones:read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "zones"
        ],
        "summary": "Begin offboarding a delegated zone (RFC-010 S1d). This is a\nstate-machine transition, not a row delete: the zone flips to\n`offboarding` and the daemon's drain performs the §3.3 teardown —\nevery hostname row and its routes are cascade-deleted, the\n`*.<zone>` wildcard cert is revoked and its Key Vault bundle\nhard-purged, and the Scrutari-side Azure DNS zone is deleted\nONLY after the public NS records stop resolving to Scrutari\n(the takeover guard: a dangling delegation pointing at a deleted\nzone is hijackable; one pointing at a zone we still hold is not).\nThe terminal state is a `revoked` tombstone and the zone name\nstays quarantined (§6).",
        "description": "Idempotent: re-DELETE of an `offboarding` zone returns 202 with\nthe current state. A `revoked` zone returns 409 — there is\nnothing left to offboard.",
        "operationId": "offboard_zone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Zone id (UUID) from the register or list response.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3f8a3a1e-9d2b-4c1f-8a55-0123456789ab"
          }
        ],
        "responses": {
          "202": {
            "description": "Offboarding started (or already in progress). The drain proceeds automatically; remove the zone's NS records from the parent zone — the Azure-side zone is deleted only after they stop resolving to Scrutari.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneOffboardResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `zones:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No zone with this id exists for the authenticated tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The zone is already revoked; offboarding has completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Path parameter `id` is not a UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "zones:write"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "description": "The wire shape of an error response. Matches the OpenAPI spec\nexactly. `#[serde(rename = \"error\")]` ensures the JSON body is\n`{ \"error\": { ... } }`, not `{ ... }`, so clients can do\n`response.error.code` cleanly.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ApiErrorBody"
          }
        }
      },
      "ApiErrorBody": {
        "type": "object",
        "description": "Inner error object — the actual payload clients destructure.",
        "required": [
          "type",
          "code",
          "message",
          "request_id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ErrorType"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "param": {
            "type": [
              "string",
              "null"
            ]
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "ApiKeyResponse": {
        "type": "object",
        "description": "Safe-to-read wire shape for an API key. Returned by every\nsurface except the one-shot `POST /v1/api_keys` creation\n(which uses [`IssuedApiKeyResponse`]).\n\nCarries metadata + `key_hint` (last 4 chars for display).\nDoes NOT carry the plaintext or the Argon2id hash; those are\nnot recoverable from a list/read response.",
        "required": [
          "id",
          "tenant_id",
          "name",
          "scopes",
          "environment",
          "key_hint",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Key identifier. Same as [`IssuedApiKeyResponse::id`].",
            "example": "ak_01k4r9j7y8x2v3m6q1w5z9b7n2"
          },
          "tenant_id": {
            "type": "string",
            "description": "Owning tenant.",
            "example": "tnt_01k4r9j7y8x2v3m6q1w5z9b7n2"
          },
          "name": {
            "type": "string",
            "description": "Operator-supplied label.",
            "example": "terraform-prod"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Granted scopes."
          },
          "environment": {
            "type": "string",
            "description": "`live` or `test`.",
            "example": "live"
          },
          "key_hint": {
            "type": "string",
            "description": "Last 4 characters of the secret body.",
            "example": "XyZ9"
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 / RFC 3339 timestamp of issuance.",
            "example": "2026-01-15T09:30:00Z"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 8601 / RFC 3339 timestamp of the most recent use.\n`null` for keys that have never been presented to the\nauth middleware. Updated asynchronously (the gateway\nbatches `last_used_at` writes to limit row contention on\nhot keys).",
            "example": "2026-04-22T14:18:42Z"
          },
          "auto_managed": {
            "type": "boolean",
            "description": "`true` for system-minted plumbing (today: the dashboard's\nlive-trace SSE proxy `trace-sess-*` keys), `false` for\nevery customer-managed key. Added in Task #291.\n\nFiltered out of the response by default; pass\n`?include_auto_managed=true` on the list endpoint to see\nthem. The dashboard's API Keys page renders an \"Auto\" badge\nwhen this is true so operators can visually distinguish\nsystem from user-managed keys in the \"System keys\" tab.\n\nAuto-managed keys do NOT count toward the tenant's plan\ncap; see `count_resource_usage` in the gateway.",
            "example": false
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "description": "Inbound OpenAI Chat Completions request body.",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Public model name; resolved against the per-tenant catalog."
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "description": "Conversation messages in order."
          },
          "max_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Legacy output cap. OpenAI superseded this with\n`max_completion_tokens`; we accept either and prefer the newer.",
            "minimum": 0
          },
          "max_completion_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Current output cap field.",
            "minimum": 0
          },
          "temperature": {
            "type": [
              "number",
              "null"
            ],
            "format": "float",
            "description": "Sampling temperature; forwarded as-is to the provider."
          },
          "stream": {
            "type": "boolean",
            "description": "Streaming flag. `true` switches the response to an SSE\n`text/event-stream` of `chat.completion.chunk` frames."
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "description": "One inbound message. `content` is a plain string in this commit;\nOpenAI also allows an array of content parts, which we reject for\nnow (see module docs).",
        "required": [
          "role"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "`system` | `user` | `assistant` (others rejected)."
          },
          "content": {
            "type": [
              "string",
              "null"
            ],
            "description": "Text body. Absent/null is treated as empty."
          }
        }
      },
      "Content": {
        "oneOf": [
          {
            "type": "string",
            "description": "`\"content\": \"hello\"`."
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentBlock"
            },
            "description": "`\"content\": [{ \"type\": \"text\", \"text\": \"hello\" }, ...]`."
          }
        ],
        "description": "Anthropic content: a plain string or an array of typed blocks. Only\n`text` blocks contribute text in this commit."
      },
      "ContentBlock": {
        "type": "object",
        "description": "One inbound content block. Non-text blocks contribute no text.",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Block discriminator (`\"text\"`, `\"image\"`, ...)."
          },
          "text": {
            "type": [
              "string",
              "null"
            ],
            "description": "Text payload, present on `text` blocks."
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "description": "Request body for `POST /v1/api_keys`.",
        "required": [
          "name",
          "scopes"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable label for this key. Surfaced in the\ndashboard's API Keys table; useful for distinguishing\nkeys by purpose (\"terraform-prod\", \"ci-runner\",\n\"vendor-X-integration\"). 1-100 characters.",
            "example": "terraform-prod"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Capability scopes the key grants. Each scope is a\n`<resource>:<action>` pair. Server validates against a\nclosed list; unknown scopes return `422 scope_invalid`.\n\nCurrent valid values: `*` (wildcard, all scopes),\n`api_keys:read`, `api_keys:write`, `routes:read`,\n`routes:write`, `domains:read`, `domains:write`,\n`members:read`, `members:write`, `tenants:read`,\n`tenants:write`, `audit_log:read`, `traces:read`.\n\nThe Terraform provider should query the dynamic\n`GET /v1/scopes` registry (planned) rather than hardcoding\nthis list, so new scopes flow in without a provider\nrelease."
          },
          "environment": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional environment selector. `live` (default) issues a\nproduction key; `test` issues a sandbox key. Test keys\nroute to a separate environment with no real billing —\nsuitable for CI smoke tests and dev workflows.",
            "example": "live"
          }
        }
      },
      "CreateDomainRequest": {
        "type": "object",
        "description": "Request body for `POST /v1/domains`.",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "The fully-qualified domain to start verifying (bare hostname,\nno scheme, no port).",
            "example": "api.acme.example"
          },
          "zone_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional delegated zone to create the hostname under\n(RFC-010 S1c). When set, the hostname must sit exactly one\nlabel under the zone (`<label>.<zone>` — that is what the\nzone's `*.<zone>` wildcard cert covers), the zone must be\n`active`, and the row is born `verified` with no challenge to\npublish. When omitted, the classic TXT-challenge flow applies.",
            "example": "5f0e8a7b-9f2c-4f0e-8a7b-9f2c1f0e8a7b"
          }
        }
      },
      "CreateRouteRequest": {
        "type": "object",
        "description": "Request body for `POST /v1/routes`.\n\n`tenant_id` is intentionally NOT a body field — it's derived\nfrom the authenticated API key, not taken from the request, to\nforeclose the \"specify someone else's tenant in the body\" class\nof cross-tenant attack.",
        "required": [
          "host",
          "path_prefix",
          "upstream_url"
        ],
        "properties": {
          "host": {
            "type": "string",
            "description": "Host the route matches. Must be a verified domain for the\ncaller's tenant (see `POST /admin/domains` to verify a new\ndomain). Lower-cased on the server before storage; case is\nnot significant on match.",
            "example": "api.acme.example"
          },
          "path_prefix": {
            "type": "string",
            "description": "URL path prefix to match. Must start with `/`. The pair\n`(host, path_prefix)` is globally unique across all\ntenants; conflicts return `409 route_conflict` (without\ndisclosing the owning tenant).",
            "example": "/orders"
          },
          "upstream_url": {
            "type": "string",
            "description": "Where to forward matched traffic. Must be `http://...` or\n`https://...`. The gateway validates the scheme; the host\nitself is NOT validated at create time (it might not yet\nresolve; that's a deploy-time concern, not a create-time\nconcern).",
            "example": "https://internal-orders.acme.example"
          },
          "strip_path_prefix": {
            "type": "boolean",
            "description": "Strip `path_prefix` before forwarding. Default false.",
            "example": true
          },
          "preserve_host_header": {
            "type": "boolean",
            "description": "Forward the client's `Host:` header unchanged. Default\nfalse.",
            "example": false
          },
          "auth_mode": {
            "type": "string",
            "description": "Authentication mode. One of `required` (default), `optional`,\n`passthrough`. Opening a route to anonymous traffic should\nalways be an explicit choice, hence the safe default.",
            "example": "required"
          },
          "route_kind": {
            "type": "string",
            "description": "AI provider discriminator. One of `passthrough` (default),\n`ai_openai`, `ai_anthropic`, `ai_bedrock`,\n`ai_azure_openai`, `ai_google`. Enabling an `ai_*` kind\nshould always be an explicit choice (it installs token-\nusage extraction on the response stream and writes a row to\n`ai_token_usage` per request), hence the safe default.",
            "example": "passthrough"
          }
        }
      },
      "CreatedDomainResponse": {
        "type": "object",
        "description": "Response shape for `POST /v1/domains` ONLY: the just-created (or\nre-issued) verification challenge, INCLUDING the TXT value the\ncaller must publish.\n\n# Why this type may carry `expected_value` when [`DomainResponse`]\nmust not\n\nThe module-doc threat model is about READING another row's secret:\na `domains:read` key harvesting the expected TXT value of a domain\nit does not control and replaying it. This type is different on\nevery axis that matters: it is returned exactly once, to the\n`domains:write` caller who CREATED the row in their own tenant,\nfor a row born `pending` that proves nothing yet. Without the\nvalue on the create response, API-driven verification (RFC-010\nS3: Terraform publishing the TXT record) is impossible and every\ncaller would be forced back through the dashboard. The list/read\nendpoints continue to omit the secret; re-reading it later is\nstill not possible over the API.\n\nZone-backed creates (RFC-010 S1c: request carried a `zone_id`)\nhave no challenge at all — the row is born `verified` because\nScrutari operates the zone's DNS — so `expected_value` is null\nand `delegated_zone_id` is set.",
        "required": [
          "id",
          "tenant_id",
          "domain",
          "verification_type",
          "challenge_host",
          "status",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "Auto-assigned verification identifier.",
            "example": 17
          },
          "tenant_id": {
            "type": "string",
            "description": "Owning tenant, derived from the authenticated key.",
            "example": "tnt_01k4r9j7y8x2v3m6q1w5z9b7n2"
          },
          "domain": {
            "type": "string",
            "description": "The domain the challenge was issued for (case-folded).",
            "example": "api.acme.example"
          },
          "verification_type": {
            "type": "string",
            "description": "Verification method; `txt` for API-created rows.",
            "example": "txt"
          },
          "challenge_host": {
            "type": "string",
            "description": "DNS name the TXT record must be published at.",
            "example": "_scrutari-challenge.api.acme.example"
          },
          "expected_value": {
            "type": [
              "string",
              "null"
            ],
            "description": "The exact TXT record value to publish. Shown only on this\nresponse; treat it like a credential and publish it promptly.\n`null` for zone-backed creates (RFC-010 S1c): a hostname under\na delegated zone has nothing to publish and nothing to prove —\nthe row is born `verified`.",
            "example": "scrutari-verify=9f2c1f0e8a7b"
          },
          "status": {
            "type": "string",
            "description": "Row status. `pending` for classic creates (re-issuing a\nchallenge for an existing domain also resets it to `pending`);\n`verified` for zone-backed creates, by construction.",
            "example": "pending"
          },
          "delegated_zone_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The delegated zone this hostname was created under, or `null`\nfor classic per-domain creates (RFC-010 S1c, D4).",
            "example": "5f0e8a7b-9f2c-4f0e-8a7b-9f2c1f0e8a7b"
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 / RFC 3339 creation timestamp.",
            "example": "2026-01-15T09:30:00Z"
[...]
